html{
    padding: 0;
    margin: 0;
}
body{
    margin:0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: IBM Plex Sans;
}

hr{
    background-color: rgba(0,0,0,.15);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}


a::after{
    color: red;
    text-decoration: none;
}

/* **********************************************************************************

                                        App Menu
                                        
                                        
*************************************************************************************
                                    */

#menu > ul{
    background: #efefef;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    font-family: 'IBM Plex Sans Condensed';
    max-width: auto;
    margin:0 auto;
    padding-inline: 135px;
    box-sizing: inherit;
}

#menu ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding:0;
}

#menu ul a{
    padding: 0 15px;
    display: block;
    color: rgba(0,0,0,.65);
    font-size: 13px;
    margin-top:5px;
    margin-bottom: 5px;
}

#menu ul li{
    position: relative;
    float: left;
    margin:0;
    padding: 0;
    
}

#menu ul ul{
    position:absolute;
    display:none;
    font-weight: bold;
    top: 100%;
    left:0;
    background-color:  #efefef;
    border: 0.05cm solid rgb(230, 222, 222);    
}

#menu ul ul li{
    float: none;
    font-size: 12px;
    width:200px;
}


#menu ul li:hover > ul{
    display:block;
    z-index: 2;
}


.abc{
    background-color:  #efefef;
    display: flex;
    border: 0px solid #efefef;
    font-size: 13px;
    color: rgba(0,0,0,.65);
    font-family: 'IBM Plex Sans Condensed';
    margin-right: 130px;
}

/* ***********************************************************************************

                                This is for Desktop Menu

**********************************************************************************
                         */

@media(max-width:2560px) 
{
    #menu1 > ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-left: 100px;
        border-bottom: 0.07em solid rgb(230, 222, 222);
        background: #ffffff;
        color: black;
        font-weight: bold;
        font-family: 'IBM';
        width: 100%;
        max-width: 100%;
        
    }
    
    #menu1-details{
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
    }
    
    #menu1-details-a{
        padding: 0 5px;
        display: block;
        color: black;
        font-size: 13px;
        margin-top:5px;
    
    }
    
    #menu1-mobile{
        position: relative;
        float: left;
        margin-top: 10px;
        padding: 10px;
    }
    
    #menu1-details-LSP{
        position:absolute;
        list-style: none;
        display:none;
        font-weight: bold;
        top: 100%;
        left:0;
        background-color:  white;
        border: 0.05cm solid rgb(230, 222, 222);
        
    }
    
    #menu1-details-LSP-drop{
        float: none;
        width: 160px;
        font-size: 18px;
        padding-top: 10px;
    }
    
    
    #menu1-mobile:hover > ul{
        display:block;
        z-index: 2;
    }
    
    .button{
        background-color: #ffbe07;
        border-radius: 5px;
        padding: 10px 10px 10px 10px;
        font-weight: bold;
        border: 0px solid #ffbe07;
        font-size: 14px;
        margin-right: 250px;
        margin-top:17px;
    }
    
    .idp{
        display: flex;
        justify-content: flex-start;
        align-content: flex-start;
        width: 600px;
        height: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    
    #menu1-details-a-para{
        display:none;
        font-weight: normal;
    }
    
    .bar{
        display:none;
    }
    
    .menu2{
        display: none;
    }
    
    .open{
        opacity: 1;
        pointer-events: auto;
    }   
}

/* ******************************************************************************************************************************************************

                                                                MOBILE MENU

   ****************************************************************************************************************************************************** */

@media(max-width:1200px) {
    #menu, #menu1-details-a , #menu1-details-a-para, .button{
        display:none;
    }
    #idp{
        display: flex;
        flex-wrap: wrap;
    }

    .menu2{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #efefef;
        width: 100%;
        height: 100%;
        position: fixed;
        padding-top: 4%; 
        opacity: 0;
        pointer-events: none;
    }

    .open{
        opacity: 888;
        pointer-events: auto;
        z-index: 99966669;
    }
    .menu1-mobile-res{
        list-style: none;
    }

    .menu1-details-a-res{
        font-size: 20px;
        color: black;
        font-weight: bolder;
        display: flex;
    }
    .menu1-details-a-res-o{
        font-size: 20px;
        color: black;
        font-weight: bolder;
        display: flex;
        margin-top: 20px;
    }
    .menu1-details-a-para-res{
        color: #6d6b6b;
        display: flex;
        flex-wrap: wrap;
        margin-top:3px;
        margin-bottom:20px;
        margin-right: 80px;
    }

    .menu1-details-a-res-in{
        display:block;
        margin-top: 10px;
        color: black;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        cursor: pointer;
    }
    
    .hamburger span {
        background: black;
        width: 28px;
        height: 2px;
        margin-bottom: 8px;
        transform-origin:left ;
        transition: all 0.1s ease-in-out;
    }

    .menu1-details-LSP-res{
        /* display: none; */
        list-style: none;
        font-weight: bolder;
        z-index: -1;
    }

    .lspdrop, .lspdropc, .lspdropr{
        margin-top:5px;
        padding-left:450px;
    }

    .lspdrop-1, .lspdropc-1, .lspdropr-1{
        display: none;
        opacity: 0;
        margin-top:-7px;
        padding-left:425px;
    }
}


@media(max-width:1024px) {
    #menu, #menu1-details-a , #menu1-details-a-para, .button{
        display:none;
    }
    .idp{
        display: flex;
        flex-wrap: wrap;
        padding-right:250px ;
    }
    .menu1-drop{
        opacity: 0;
        display: none;
        pointer-events: none;
    }
    .menu1-drop-1{
        opacity: 0;
        display: none;
        pointer-events: none;
    }
    .menu1-drop-2{
        opacity: 0;
        display: none;
        pointer-events: none;
    }
    .menu2{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: #efefef;
        width: 100%;
        height: 100%;
        position: fixed;
        padding-top: 4%; 
        opacity: 0;
        pointer-events: none;
    }

    .open{
        opacity: 888;
        pointer-events: auto;
        z-index: 99966669;
    }
    .menu1-mobile-res{
        list-style: none;
    }

    .menu1-details-a-res{
        font-size: 20px;
        color: black;
        font-weight: bolder;
        display: flex;
    }
    .menu1-details-a-para-res{
        font-size: 15px;
        color: #6d6b6b;
        display: flex;
    }

    .menu1-details-a-res-in{
        display:block;
        margin-top: 10px;
        color: black;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        cursor: pointer;
    }
    
    .hamburger span {
        background: black;
        width: 28px;
        height: 2px;
        margin-bottom: 8px;
        margin-right: 60px;
        transform-origin:left;
        transition: all 0.1s ease-in-out;
    }

    #hp  {
        float: left;    
         margin: 0 10px 0 0;
        }
    
        .hrtag,.hrdrop, .hrdropped, .hrdrop-1, .hrdrop-2{
            margin-right: 70px;
        }
}

@media(max-width:425px) {
    #menu , .button , #menu1-mobile{
        display:none;
    }
    .idp{
        display: flex;
        flex-wrap: wrap;
        padding-right: 50px;
    }

    .menu2{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        background-color: #efefef;
        width: 100%;
        height: 100%;
        position: fixed;
        padding-top: 4%;
        opacity: 0;
        pointer-events: none;
    }

    .open{
        opacity: 888;
        pointer-events: auto;
        z-index: 99966669;
    }
    .menu1-mobile-res{
        list-style: none;
    }

    .menu1-details-a-res{
        font-size: 20px;
        color: black;
        font-weight: bolder;
        display: flex;
    }
    .menu1-details-a-para-res{
        font-size: 15px;
        color: #6d6b6b;
        display: flex;
    }

    .menu1-details-a-res-in{
        display:block;
        margin-top: 10px;
        color: black;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
    }
    
    .hamburger span {
        background: black;
        width: 28px;
        height: 2px;
        margin-bottom: 8px;
        margin-right: 70px;
        transform-origin:left;
        transition: all 0.1s ease-in-out;
    }

    .lspdrop, .lspdropc, .lspdropr{
        margin-top:5px;
        padding-left:250px;
    }

    .lspdrop-1, .lspdropc-1, .lspdropr-1{
        display: none;
        opacity: 0;
        margin-top:-7px;
        padding-left:220px;
    }
    #hp  {
        float: left;    
         margin: 0 10px 0 0;
        }
    .hrtag,.hrdrop, .hrdropped, .hrdrop-1, .hrdrop-2{
        margin-right: 80px;
    }
}



 /* Completed 


 Gap between text and HR tag in hamburger bottom-10 to 15 top 5px -Done
 gaps between company,resouces and LSP-Done 
 hover effect on links-Done
 Image in hamburger after every point -Done 
 mobile view mein padding-right in open hamburger -Done
HR tag in 375px wala padding-right/margin-right-Done 
Company Resources in hamburger wala - Done 
arrow wala-tranform porperty-Done
*/



/* To DO 

 media(min:width-768)
media(min-width:1200) 
If company open then others closed in hamburger and same ith others
 */
